<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- add material css | replace bootstrap.css -->
        <link href="css/material.min.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <!-- additional css for documentation -->
        <link href="//v4-alpha.getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
        <link href="css/project.min.css" rel="stylesheet">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #0abe50;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-center" href="#"> Flif (Flock + Gifs)</a>

  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul> -->
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
    <div class="container" style="padding-top: 70px;">

    <% @gifs.each_slice(4).each do |gif_row| %>
  <div class='row'>
    <% gif_row.each do |gif| %>
    <div class="card col-md-3">
        <img class="card-img-top img-responsive" src="<%= gif.fixed_height_downsampled_image.url.to_s %>" >
        <div class="card-block">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
    <input type="checkbox" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"> </span>
  </label>
        </div>
    </div>
    <% end %>
  </div>
<% end %>

    <!-- <div class="card">
        <img class="card-img-top" src="//media1.giphy.com/media/iuHaJ0D7macZq/200.gif" alt="Card image cap">
        <div class="card-block">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div> -->
    <div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-circle disabled" style="background-color: #0abe50;" id="send_fab">
    <i class="large material-icons">send</i>
  </a>

  <input type="hidden" id="userID" value="<%= @flockEvent["userId"] %>">
 <input type="hidden" id="chatId" value="<%= @flockEvent["chat"] %>">
 </div>
  </div>


    <!--Import jQuery before materialize.js-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!-- add material js on top of bootstrap.js -->
    <script src="js/material.min.js"></script>

    <!-- additional js for documentation -->
    <script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
